{% extends 'base.html' %}
{% block content %}
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Description</th>
        <th>Data criação</th>
        <th>Eliminar</th>
        <th>Editar</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
        <tr>
          <th>{{ item.title }}</th>
          <th>{{ item.description }}</th>
          <th>{{ item.create_date }}</th>
          <th>
            <a href="{% url 'delete_task' item.id %}">Elminar</a>
          </th>
          <th>
            <a href="{% url 'editar_tarefa' item.id %}">Editar</a>
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
