{% extends "base.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Description</th>
            <th>fecha criação</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>

    <tbody>
        {% for listTarefa in lista_tarefa %}
        <tr>
            <th>{{listTarefa.title}}</th>
            <th>{{listTarefa.description}}</th>
            <th>{{listTarefa.create_date}}</th>
            <th><a href="{% url eliminar_tarefa %}">Elminar</a></th>
            <th><a href="{% url editar_tarefa %}">Editar</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock  %}